<div class="container">
  <h2>Doctors details</h2>
  <div class="table-responsive" style="width: 950px;margin-left: 200px">
    <table class="table">
      <thead>
      <tr>
        <th class="text-center">S.no</th>
        <th class="text-center">Name</th>
        <!-- <th class="text-center" width="25%">Email id</th>
         <th class="text-center" width="20%">Location</th>
         <th style="padding-left: 25px" width="25%">Contact Number</th>-->
      </tr>
      </thead>
      <tbody *ngFor="let user of userDetails;let i=index">
      <tr>
        <td class="text-center">{{i+1}}</td>

        <td class="text-center">
          <div id="info" style="text-align:center;border-radius:8px;width: 100%;height:40px;background-color: #5bc0de"
               (click)="getDetails(i)"><h3
            style="color: black;padding-bottom: 40px;padding-top: 6px">{{user.name}}</h3>
          </div>
        </td>
      </tr>


      </tbody>
    </table>


  </div>
</div>



<!--
Appointment form
-->


<div class="container">
  <!-- Trigger the modal with a button -->
  <button  #modalButton2 style="display: none" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2"></button>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

            <h4  class="modal-title">{{users.name}} details</h4>


        </div>
        <div class="modal-body">

          <div>
              <p>Doctor {{users.name}} details </p>
              <p>{{users.mail_id}}</p>
              <p> {{users.location}}</p>
              <p>{{users.phone_number}}</p>
            <p>{{users.speciality}}</p>

          </div>

        <div class="modal-footer">


          <!-- input box styling is bootstrap 3.3.7 -->
          <div class="container" style="float: right;width:210px">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>
              <div class="input-group">
                <input class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="myDate"
                       formControlName="myDate" [options]="myOptions" #dp="ngx-mydatepicker"/>

                <span class="input-group-btn">

            <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
              </div>
              <div  class="time" style="width:100%;position:relative;top:-50px;left:-400px;float: left;">
                <input type="time" value="{{curr_Time}}" id="myTime" name="usr_time">
              </div>
              <div class="btnGroup">
                <p class="error" *ngIf="myForm.controls.myDate.errors">Date is required!</p>

          <button type="submit" data-dismiss="modal" class="btn btn-default" [disabled]="myForm.controls.myDate.errors"
                   (click)="onSubmit(myForm.value)" style="position:relative;top:40px;left:-320px;float: left;width: 100%;color: black;border-radius:15px;">
              Appointment
            </button>

            <button type="button" class="btn btn-default"
                    style="border-radius: 15px;color:black;width: 100%;color: black;margin-left: 36px"
                    data-dismiss="modal" (click)="showDetails=false">cancel
            </button>
          </div>
          </form>
        </div>

        </div>
      </div>

    </div>
  </div>

</div>

</div>












<div class="container">
  <!-- Trigger the modal with a button -->
  <button  #modalButton7 style="display: none" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal7"></button>

  <!-- Modal -->
  <div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4  style="border-radius: 20px" class="modal-title btn-success">Booking confirmed on {{users.date}} at {{users.time}}</h4>

          <div class="modal-footer">
            <button type="button"  style="border-radius: 10px;width: 30%;color: black;margin-right: 210px" class="btn btn-default" data-dismiss="modal" (click)="errMessage=''">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>








