/* CSS used here will be applied after bootstrap.css */
.badge-notify{
  background:red;
  position:relative;
  top: -20px;
  left: -35px;
}

.openAccept{
  background-color: #449D44;
}
.openReject{
  background-color: #DA5F5C;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 1;
}

.affix + .container-fluid {
  padding-top: 10px;
}

a {
cursor:pointer;
}

div.btn-group-vertical{
  background-color: #2b669a;
  color: #2e6da4;
  width: 170px;
}
.btn.nohover:hover {
  /* here copy default .btn class styles */
  cursor:default !important;
  color: red;
  /* or something like that */
}
