

<div class="container">

  <div class="btn-group">

    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Add <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Doctors</a></li>
        <li><a href="#">Patients</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        View <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Doctors</a></li>
        <li><a href="#">Patients</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Delete<span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Doctors</a></li>
        <li><a href="#">Patients</a></li>
      </ul>
    </div>



  </div>
</div>

