<app-navbar *ngIf="showIncludes"></app-navbar>
<app-adduser [show]="addUser">sdfsfd</app-adduser>
<!--<div class="form-group" style="width:500px; margin:0 auto;background-color: black;">
  <sq-datetimepicker [options]="options" [(ngModel)]="field1" ></sq-datetimepicker>
</div>-->
<div class="row" id="dashboardComp">

  <!-- uncomment code for absolute positioning tweek see top comment in css -->
  <!-- <div class="absolute-wrapper"> </div> -->
  <!-- Menu -->
  <div class="side-menu" [class.open]="dashboardClick">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="brand-wrapper">
          <!-- Hamburger -->

          <!-- Brand -->
          <div class="brand-name-wrapper">
            <a class="navbar-brand" href="#">
              HealthCare
            </a>
          </div>

          <!-- Search -->
          <a data-toggle="collapse" href="#search" class="btn btn-info btn-lg" id="search-trigger">
            <span class="glyphicon glyphicon-search"></span>
          </a>

          <!-- Search body -->
          <div id="search" class="panel-collapse collapse">
            <div class="panel-body">
              <form class="navbar-form" role="search">
                <div class="form-group">
                  <input type="text" (keyup)="search($event)" class="form-control" placeholder="Search">


                  <div *ngFor = "let item of items |filter:term" >
                    <p>
                      {{item.name}}
                    </p>
                  </div>


                </div>
                <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-ok"></span></button>
              </form>
            </div>
          </div>
        </div>

      </div>

      <!-- Main Menu -->
      <div class="side-menu-container">
        <ul class="nav navbar-nav">

          <li><a href="#" routerLink="./myprofile" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span>My profile</a></li>
          <li><a [routerLink]="['history']" class="btn btn-info btn-lg"><span class="fa fa-history"></span> History</a></li>
          <li><a href="#" routerLink="./editprofile" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-edit"></span>Edit</a></li>
          <li><a [routerLink]="['/dashboard','bookappointment']" class="btn btn-info btn-lg"><span
            class="glyphicon glyphicon-edit"></span>Book appointment</a></li>
        <!--  <li><a href="#" class="btn btn-info btn-lg"><span class="fa fa-trophy"></span>Achievments</a></li>
-->
          <!-- Dropdown-->
          <li class="panel panel-default" id="dropdown">
            <a class="btn btn-info btn-lg" (click)="toggle=!toggle" data-toggle="collapse" href="#filter">
              <span class="glyphicon glyphicon-filter"></span> Filter <span class="caret"></span>
            </a>

            <!-- Dropdown ladduserevel 1 -->
            <div id="filter" class="collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">


                  <!-- List group -->
                  <ul class="list-group">
                    <li *ngIf="router.url === '/dashboard/bookappointment' " class="list-group-item" style="background-color:#f2f4f7">
                      Speciality
                      <div class="material-switch pull-right" >
                        <input id="someSwitchOptionDefault" (change)="showSpecialist=!showSpecialist" name="someSwitchOption001" type="checkbox"/>
                        <label for="someSwitchOptionDefault" class="label-default"></label>
                      </div>
                    </li>

                    <div *ngIf="showSpecialist" class="form-group" style="width: 100%">
                      <label for="sel1">Select Specialist</label>
                      <select class="form-control" id="sel1" name="role_id"  (change)="getSpecialist($event)">
                        <option *ngFor="let specialist of specialists;let i=index " #indexValue [value]="specialist">{{specialist}}</option>
                      </select>
                    </div>

                    <div *ngIf="showSpecialist" class="btn-success">
                      <p>{{description[selectedSpecialist]}}</p>
                    </div>


                    <li class="list-group-item" style="background-color:#f2f4f7">
                      location
                      <div class="material-switch pull-right">
                        <input id="someSwitchOptionPrimary" (change)="showLocation=!showLocation" name="someSwitchOption001" type="checkbox"/>
                        <label for="someSwitchOptionPrimary" class="label-primary"></label>
                      </div>
                    </li>

                    <div *ngIf="showLocation" class="form-group" style="width: 100%">
                      <label for="sel1">Select Location</label>
                      <select class="form-control" id="sel1" name="role_id"  (change)="getLocation($event)">
                        <option *ngFor="let location of locations;let i=index " #indexValue [value]="i">{{location}}</option>
                      </select>

                    </div>


                  </ul>

                </ul>

              </div>
            </div>
          </li>

        </ul>

      </div><!-- /.navbar-collapse -->
    </nav>

  </div>

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <h1> </h1>


    </div>
  </div>
</div>
<router-outlet></router-outlet>
