<app-adduser [show]="addUser">sdfsfd</app-adduser>
<div class="row" id="dashboardComp" >
  <!-- uncomment code for absolute positioning tweek see top comment in css -->
  <!-- <div class="absolute-wrapper"> </div> -->
  <!-- Menu -->
  <div class="side-menu"  [class.open]="dashboardClick" >
    <nav class="navbar navbar-default" role="navigation" >
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="brand-wrapper">
          <!-- Hamburger -->

          <!-- Brand -->
          <div class="brand-name-wrapper">
            <a class="navbar-brand" href="#">
             HealthCare
            </a>
          </div>

          <!-- Search -->
          <a data-toggle="collapse" href="#search" class="btn btn-info btn-lg" id="search-trigger">
            <span class="glyphicon glyphicon-search"></span>
          </a>

          <!-- Search body -->
          <div id="search" class="panel-collapse collapse">
            <div class="panel-body">
              <form class="navbar-form" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-ok"></span></button>
              </form>
            </div>
          </div>
        </div>

      </div>

      <!-- Main Menu -->
      <div class="side-menu-container">
        <ul class="nav navbar-nav">

          <li><a href="#" class="btn btn-info btn-lg" ><span class="glyphicon glyphicon-user"></span>My profile</a></li>
          <li><a href="#" class="btn btn-info btn-lg"><span class="fa fa-history"></span> History</a></li>
          <li><a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-edit"></span>Edit</a></li>
          <li><a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-edit"></span>Book appointment</a></li>
          <li><a href="#" class="btn btn-info btn-lg"><span class="fa fa-trophy"></span>Achievments</a></li>

          <!-- Dropdown-->
          <li class="panel panel-default" id="dropdown">
            <a class="btn btn-info btn-lg" data-toggle="collapse" href="#dropdown-lvl1">
              <span class="glyphicon glyphicon-filter"></span> Filter <span class="caret"></span>
            </a>

            <!-- Dropdown ladduserevel 1 -->
            <div id="dropdown-lvl1" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">


                          <!-- List group -->
                          <ul class="list-group" >
                            <li class="list-group-item" style="background-color:#f2f4f7">
                              doctors
                              <div class="material-switch pull-right">
                                <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox"/>
                                <label for="someSwitchOptionDefault" class="label-default"></label>
                              </div>
                            </li>
                            <li class="list-group-item" style="background-color:#f2f4f7">
                             location
                              <div class="material-switch pull-right">
                                <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
                                <label for="someSwitchOptionPrimary" class="label-primary"></label>
                              </div>
                            </li>
                            <li class="list-group-item" style="background-color:#f2f4f7">
                              gender
                              <div class="material-switch pull-right">
                                <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
                                <label for="someSwitchOptionSuccess" class="label-success"></label>
                              </div>
                            </li>
                            <li class="list-group-item" style="background-color:#f2f4f7">
                              hospital
                              <div class="material-switch pull-right">
                                <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox"/>
                                <label for="someSwitchOptionInfo" class="label-info"></label>
                              </div>
                            </li>
                          </ul>

                </ul>
              </div>
            </div>
          </li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

  </div>

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <h1> Main Content here </h1>


    </div>
  </div>
</div>

<router-outlet></router-outlet>
