/* You can add global styles to this file, and also import other style files */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background: url("CSS-Loader.gif") center no-repeat ;
  background-color: #403833;
}

